.header {
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin-top: 20px;
}
.header__sign {
  border-radius: 50% 50%;
  width: 60px;
  height: 60px;
  border: none;
  background-color: #74cccf;
  cursor: pointer;
  color: #d6e5e5;
}
