.message {
  font-size: 10px;
  width: 100px;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.message__user_type_auth {
  margin-right: 15px;
  border-radius: 5px 0 5px 5px;
  border: 1px solid #eaecf0;
  align-self: flex-end;
  background-color: #ffffff;
  color: #9099ad;
}
.message__user_type_notAuth {
  margin-left: 15px;
  background-color: #3c95f3;
  border-radius: 0 5px 5px 5px;
  align-self: flex-start;
  color: #ffffff;
}
